<template>
  <v-container>
    <v-row>
      <v-col>
        <v-row>
          <v-col>
            <opening-selector></opening-selector>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <opening-input></opening-input>
          </v-col>
        </v-row>
      </v-col>
      <v-col>
        <Board />
      </v-col>
    </v-row>
    
    
  </v-container>
  
</template>

<script>
import Board from '../components/Board'
import OpeningInput from '../components/OpeningInput'
import OpeningSelector from '../components/OpeningSelector'

export default {
    name: 'Home',

    components: {
      Board,
      OpeningInput,
      OpeningSelector
    },
  }
</script>

        OpeningInput