<template>
    <div>
        <br>
        <div id="board1" style="width: 30vw; height: 30vh; margin:auto;"></div>
    </div>
    
</template>

<script>
export default {
    mounted(){
    },
    computed: {
        mobile() {
            return this.$vuetify.breakpoint.sm
        },
    }
    
}
</script>

<style>
</style>