<template>
    <v-card>
        <v-card-title>New Opening</v-card-title>
        <v-card-text>
            <v-form>
                <v-text-field
                    label='Name'
                >
                </v-text-field>
                <v-text-field
                    label='Moves'
                >
                </v-text-field>
                <v-text-field
                    label='Color'
                >
                </v-text-field>
                <v-btn v-on:click="runAlert">Submit</v-btn>
            </v-form>
        </v-card-text>
        
    </v-card>
    
</template>

<script>
import initBoard from "../chess/opening"

export default {
    mounted() {
        var board = initBoard('board1', '', 'black')
    },
    methods: {
        runAlert: function(event) {
            alert("You clicked me!")
        }
    }
}
</script>