<template>
    <v-card>
        <v-card-title>Select Opening</v-card-title>
        <v-card-text>
            <v-select
            :items="items"
            filled
            label="Filled style"
            ></v-select>
        </v-card-text>
        
    </v-card>
</template>

<script>
import initBoard from "../chess/opening"

export default {
    data: () => ({
      items: ['Foo', 'Bar', 'Fizz', 'Buzz'],
    }),
  }
</script>